.music_com {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  .music_top {
    flex: 1;
    height: 100%;
    padding: 14px;
    overflow: hidden;
  }
  .music_bom {
    height: 80px;
    flex-shrink: 0;
    display: flex;
    .img {
      margin-left: 26px;
      width: 80px;
      height: 80px;
      text-align: center;
      position: relative;
      flex-shrink: 0;
      .img_icon {
        transition: top 0.4s;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: -30px;
        width: 74px;
        height: 74px;
        line-height: 74px;
        font-size: var(--font_size_1_6);
      }
    }

    .name {
      height: 100%;
      flex-grow: 1;
      line-height: 80px;
      padding: 0 16px;
      box-sizing: border-box;
      text-align: left;
    }

    .switch {
      margin-right: 26px;
      width: 100px;
      height: 80px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      .icon {
        margin-right: 10px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: var(--font_size_1);
      }
    }
  }
  .music_list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 16px 0;
    box-sizing: border-box;
    .list_item {
      padding: 4px 6px;
      display: flex;
      height: 40px;
      line-height: 40px;
      align-items: center;
      cursor: pointer;
      &.hot {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 2px;
      }
      .music_img_pic {
        width: 30px;
        height: 30px;
        margin-right: 16px;
        border-radius: 50%;
        overflow: hidden;
      }
      .music_name {
        font-size: var(--font_size_0_6);
      }
    }
  }

  .music_item {
    width: 100%;
    height: 0;
  }
}
.music_enlarged_box {
  width: 100%;
  height: 100%;
  background: url(../../assets/images/music-bg.png) no-repeat center center/100%
    100%;
  background-size: 100% 100%;
  background-position: top;

  .music_enlarged {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .music_player {
      -webkit-box-reflect: below 15px
        linear-gradient(transparent 0, transparent 44%, #0005 100%);
      margin-top: -20%;
      width: 380px;
      height: 422px;
      background: #212121;
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.05);
      display: flex;
      flex-direction: column;
      .music_player_top {
        display: flex;
        flex-direction: column;
        width: 356px;
        height: 310px;
        margin: 12px 12px 0;
        flex-shrink: 0;
        background: #111110;
        box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.1),
          inset 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
        border-radius: 14px;
        box-sizing: border-box;
        padding: 12px 12px 0;

        .music_details {
          height: 178px;
          background: url(../../assets/images/bg.png) no-repeat center
            center/100% 100%;
          box-shadow: inset 0px -1px 1px 0px rgba(255, 255, 255, 0.12);
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          padding: 12px 0;
          box-sizing: border-box;
          .music_details_top {
            height: 32px;
            flex-shrink: 0;
            padding: 0 12px;
            display: flex;
            justify-content: space-between;
            & > div {
              display: flex;
              align-items: center;
            }
            .music_user {
              width: 32px;
              height: 32px;
              border-radius: 6px;
              background: rgba(0, 0, 0, 0.8) url(../../assets/images/user.png)
                no-repeat center center/24px 24px;
            }
            .music_play_state {
              margin-left: 8px;
              color: rgba(144, 157, 0, 1);
              font-size: 16px;
              width: 76px;
              height: 32px;
              background: rgba(0, 0, 0, 0.8);
              border-radius: 6px;
              text-align: center;
              line-height: 32px;
              font-weight: 600;
              text-indent: 10px;
              position: relative;
              &::before {
                content: "";
                position: absolute;
                top: 12px;
                left: 10px;
                border-radius: 50%;
                width: 8px;
                height: 8px;
                background: rgba(144, 157, 0, 1);
              }
            }
            .music_lb {
              color: rgba(0, 0, 0, 0.8);
              height: 32px;
              line-height: 32px;
              font-weight: 600;
              font-size: 20px;
            }
            .music_q {
              margin-left: 12px;
              width: 20px;
              height: 22px;
              background: url(../../assets/images/qizi.svg) no-repeat center
                center;
            }
          }
          .music_details_content {
            padding: 14px 14px 0;
            flex-grow: 1;

            .music_h {
              font-weight: 500;
              font-size: 46px;
              color: rgba(0, 0, 0, 0.8);
            }
            .suffix {
              margin: 0 2px;
              font-weight: 500;
              font-size: 26px;
              color: rgba(0, 0, 0, 0.6);
              text-align: left;
              font-style: normal;
            }
          }
          .music_details_btm {
            height: 38px;
            flex-shrink: 0;
            background: rgba(0, 0, 0, 0.8);
            border-radius: 6px;
            margin: 0 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            .music_channel {
              font-weight: 500;
              font-size: 18px;
              color: #899600;
              line-height: 26px;
              text-align: left;
              font-style: normal;
            }

            .state_of_charge {
              width: 42px;
              height: 22px;
              background: url(../../assets/images/dl.svg) no-repeat center
                center;
            }
          }
        }
        .music_name {
          height: 62px;
          border-bottom: 1px solid rgba(0, 0, 0, 1);
          line-height: 62px;
          font-size: 18px;
        }
        .volume_box {
          border-top: 1px solid rgba(255, 255, 255, 0.08);
          display: flex;
          align-items: center;
          flex-grow: 1;
          .volume_left {
            width: 40px;
            height: 26px;
            flex-shrink: 0;
            background: url(../../assets/images/jian.png) no-repeat center
              center/40px 26px;
          }
          .volume {
            flex-grow: 1;
            margin: 0 12px;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
            .volume_dividing_line{
              display:flex;
              align-items: center;
              justify-content: space-between;
              .line{
                width:1px;
                height:10px;
                background:rgba(231, 231, 231, 0.4);
              }
            }
            .volume_bar{
              position:absolute;
              left:45%;
              top:0;
              width:100%;
              height:10px;
              border-left:4px solid rgba(231, 231, 231, 1);
              display:flex;
              background:rgba(17, 17, 16, 1);
              align-items: center;
              &>span{
                width:100%;
                height:2px;
                background:rgba(33, 33, 33, 1);
              }
            }
          }
          .volume_right {
            width: 40px;
            height: 26px;
            flex-shrink: 0;
            background: url(../../assets/images/jia.png) no-repeat center
              center/40px 26px;
          }
        }
      }
      .music_player_btm {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & > div {
          background: #111110;
          box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.1),
            inset 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
          border-radius: 12px;
        }
        .music_btn_left {
          width: 46px;
          height: 46px;
          background: #111110 url(../../assets/images/syq.svg) no-repeat center center/21px 14px;
        }
        .music_btn_center {
          width: 60px;
          height: 60px;
          background:#111110 url(../../assets/images/bf.svg) no-repeat center center/18px 25px;
        }
        .music_btn_right {
          width: 46px;
          height: 46px;
          background: #111110 url(../../assets/images/xyq.svg) no-repeat center center/21px 14px;
        }
      }
    }
  }
}
