@font-face {
  font-family: "iconfont"; /* Project id 4478289 */
  src: url('iconfont.woff2?t=1724937295988') format('woff2'),
       url('iconfont.woff?t=1724937295988') format('woff'),
       url('iconfont.ttf?t=1724937295988') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangda:before {
  content: "\e644";
}

.icon-qizi:before {
  content: "\e601";
}

.icon-weibiaoti519:before {
  content: "\e616";
}

.icon-zhuomiangeci_shangyiqu:before {
  content: "\e66c";
}

.icon-bofang:before {
  content: "\e63a";
}

.icon-jiazai:before {
  content: "\e637";
}

.icon-jiazai_shuang:before {
  content: "\eaf4";
}

.icon-zanting:before {
  content: "\e669";
}

.icon-yduishangyiqu:before {
  content: "\e60b";
}

.icon-yuanxunhuanbofang:before {
  content: "\e61f";
}

.icon-icon--:before {
  content: "\e77d";
}

.icon-zanting1:before {
  content: "\e600";
}

.icon-yinleguangpan:before {
  content: "\e606";
}

.icon-chahao2:before {
  content: "\e668";
}

.icon-arrow-:before {
  content: "\e628";
}

.icon-weimingmingwenjianjia_xunhuan:before {
  content: "\e63b";
}

.icon-gedan:before {
  content: "\e636";
}

.icon-xiazai:before {
  content: "\e619";
}

.icon-tupian:before {
  content: "\e67f";
}

.icon-guanbi:before {
  content: "\e61e";
}

.icon-bokeyuan:before {
  content: "\e603";
}

.icon-gerenziliao:before {
  content: "\e62b";
}

.icon-react:before {
  content: "\e68b";
}

.icon-electron:before {
  content: "\eb86";
}

.icon-juejin:before {
  content: "\e613";
}

.icon-github:before {
  content: "\e657";
}

.icon-MyWeek:before {
  content: "\e60a";
}

